I/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    tapping-term-ms = <200>;
};

&lt {
    quick-tap-ms = <400>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer_0 {
            bindings = 
&kp Q            &kp W      &kp E     &kp R     &kp T  &kp Y  &kp U      &kp I        &kp O        &kp P
&kp A            &kp S      &kp D     &kp F     &kp G  &kp H  &kp J      &kp K        &kp L        &kp SEMI
&kp Z     &kp X      &kp C     &kp V     &kp B  &kp N  &kp M      &kp COMMA    &kp DOT      &kp SLASH
&kp LCTRL                             &kp SPACE      &kp BSPC                                 &kp DOWN
            >;
        };

        Layer__1 {
            bindings = <
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans 
            >;
        };

        Layer__2 {
            bindings = <
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans  
            >;
        };

        Layer__3 {
            bindings = <
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
     &trans  &trans  &trans  &trans 
            >;
        };
    };
};
