/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    tapping-term-ms = <200>; 
};
&lt {
    quick-tap-ms = <400>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer_0 {
            bindings = <
    &kp ESC      &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC     
    &lt 2 TAB     &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp COLON   &mt 3 RET     
    &kp LSHFT      &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp UP      &mt RSHIFT SLASH
    &kp LCTRL      &kp LALT                                        &lt 1 SPACE                                      &kp LEFT   &kp DOWN    &kp RIGHT 
            >;
        };
	
        layer_1 {
            bindings = <
    &kp ESC      &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC     
    &lt 2 TAB     &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp COLON   &mt 3 RET     
    &kp LSHFT      &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp UP      &mt RSHIFT SLASH
    &kp LCTRL      &kp LALT                                        &trans                                      &kp LEFT   &kp DOWN    &kp RIGHT   
            >;
        };

    	layer_2 {
            bindings = <
    &kp ESC      &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC     
    &trans        &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp COLON   &mt 3 RET     
    &kp LSHFT      &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp UP      &mt RSHIFT SLASH
    &kp LCTRL      &kp LALT                                        &lt 1 SPACE                                      &kp LEFT   &kp DOWN    &kp RIGHT    
            >;
        };

	    layer_3 {
            bindings = <
    &kp ESC      &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC     
    &lt 2 TAB     &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp COLON   &trans    
    &kp LSHFT      &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp UP      &mt RSHIFT SLASH
    &kp LCTRL      &kp LALT                                        &lt 1 SPACE                                      &kp LEFT   &kp DOWN    &kp RIGHT 
            >;
        };
    };
};
